.home {
    position: relative;
    width: 100%;
    height: 100%;
    &-loading {
        width: 100%;
        height: 100vh;
        position: absolute;
        i{
            font-size: 4rem;
            color: $colour-primary;
            margin: 0;
            position: absolute;
            top: 50%;
            /* left: 50%;
            transform:translate(-50%, -50%); */
            animation: loader 1.85s linear infinite;
            margin: 0 0 0 -25px;
            
        }
    }
    &-wrapper {
        z-index: 1;
        animation: home 0s 3s both;
    }
    
    &-city {
        background-color:#E5E5E5;
        text-align: center;
        padding: $m-ref*1;
        display: flex;
        justify-content: center;
    }
        &-neighb {
        font-size: 1.1rem;
        font-weight: 500;
        }
        &-ic-map {
            display: inline;
            font-size: 1.1rem;
            padding: 0 1rem;
        }
    &-top {
        text-align: center ;
        padding: 0 0 $m-ref*4 0 ;
        background-color: #f0f0f0;
        & .top-title {
            margin-bottom: $m-ref*0.5;
            padding: 2.5rem 3rem 0 3rem;
        } 
        & .top-desc {
            font-size: 1.3rem;
            margin-bottom: $m-ref*2;
            line-height: 1;
            color: #524b4b;
        } 
        & .top-button {
            padding: $m-ref*1.1 $m-ref*1.7;
            background: linear-gradient($colour-secondary, $colour-primary);
            border: 1px solid currentColor;
            border-radius: 25px;
            font-weight: 500;
            font-size: 1.1rem;
            color: #f0f0f0;
        }      
    }
    &-filter {
        background-color:$colour-white;
        padding: $m-ref*2 0 $m-ref*3 0;
        & .section-title {
            padding: $m-ref;
            margin-bottom: $m-ref*1;  
        } 
        & .list{
            list-style-type:circle;
        } 
        & .filter-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: $colour-bg;
            border: 1px solid #f0f0f0;
            border-radius: 22px;
            color: $colour-black;
            font-weight: bold;
            font-size: 1.3rem;
            width: 90%;
            padding: $m-ref*1.8;
            margin: 0 $m-ref*1.5 $m-ref*1.8 $m-ref*1.8; 
            box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 20%);
            &:hover {
                background-color: rgba(147,86,220,0.2)/* rgb de colour-primary #9356DC*/;
                & i {
                    color: $colour-primary;
                }
            } 
            & span {
                font-size: $m-ref*1.1;
                color: $colour-white;
                background-color: $colour-primary;
                border-radius: 50%;
                width: $m-ref*1.8;
                height: $m-ref*1.8;
                z-index: 3;
                margin-left: -30px;
                line-height: $m-ref*1.8;
            }
            & i {
                font-size: $m-ref*1.1;
                color: $colour-black;
                padding: 0 $m-ref*2;
            }
        } 
            
    }

    &-card {
        padding: $m-ref*3 0 $m-ref*5 0;
        background-color:$colour-bg;
        & .section-title {
            padding: $m-ref;
            margin-bottom: $m-ref*1;
        } 
        & .card{
            background-color:$colour-white;
            width: 90%;
            margin: 1rem;
            border-radius: 12px;
            /*@include btn-filter;*/
        
            & a{
                text-decoration: none;
                position: relative;
                display: inline-block;
                height: 12rem;
                width: 100%;
            }  
            & img{
                width: 100%;
                height: 12rem;
                object-fit: cover; 
                object-position: 100% 90%;
                border-radius: 12px 12px 0 0;
            }
            & img:nth-child(2){
                object-position: center;
            }  
        } 
            & .card-badge{
                position: absolute;
                z-index: 5; 
                color: darken($color: #99E2D0, $amount: 40%);
                background-color:#99E2D0;
                top: 5%;
                right: 5%;
                padding: $m-ref*0.5 $m-ref*0.7;
                font-size: $m-ref*0.9;
                font-weight: 600;
                border-radius: 2px;
            } 
        & .card-desc{
            text-align: start;
            height: 3.5rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: space-between;
            padding: 2rem 1rem 2.8rem 1rem;
            background-color:$colour-white;
            border-radius: 0 0 12px 12px;
            box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 20%);
        }
        & .card-desc-title{
            display: flex;
            flex-flow:  column wrap;
            line-height: $m-ref*2.2;
        }
        & .card-desc-icon{
            position: relative;
            line-height: $m-ref*2.2;
            top: -10px;
            left: -30px;
        }

        & .card-desc-icon::before {
            position: absolute;
            @include ic-heart;
            content: "\f004";  /* this is your text. You can also use UTF-8 character codes as I do here */
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
        }
        & .card-desc-icon:hover::before{
            position: absolute;
            @include ic-heart;
            content: "\f004";  /* this is your text. You can also use UTF-8 character codes as I do here */
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            opacity: 1;
            color: $colour-primary;
            transition: color 300ms ease-in-out;
            transform-origin: center center;
        }

        & .card-name{
            font-weight: 900;
            font-size: 1.2rem;
        } 
        & .card-city{
            font-size: 1.2rem;
            line-height: 1;
            opacity: 0.6;
        } 
    }
}
