.home {
    position: relative;
    width: 100%;
    height: 100%;
    &-loading {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex; 
        flex-direction: column;
        align-items: center; justify-content: center;
        & div {
            width: 60px;
            height: 60px;
            border: 12px solid $colour-primary;
            border-top: 12px solid #f3f3f3;
            border-radius: 50%;
            animation: loader 1s linear infinite; //1.8ms et 2.2ms pour home
            
        }         
    }
    &-wrapper {
        z-index: 1;
        animation: home 0s 1s both;
        background-color: $colour-bg;
    }
    
    &-city {
        display: flex;
        justify-content: center;
        background-color:#e7e7e7;
        text-align: center;
        padding: $m-ref*1;
    }
    &-neighb {
    font-size: 1.1rem;
    font-weight: 600;
    opacity: 0.75;
    }
    &-ic-map {
        display: inline;
        font-size: 1.1rem;
        padding: 0 1rem;
    }
    &-top {
        text-align: center ;
        padding: 0 0 $m-ref*4.6 0 ;
        background-color: $colour-bg;
        & .top-title {
            margin-bottom: $m-ref*0.9;
            padding: 2.8rem 3rem 0 3rem;
            text-shadow: 0 0 0.9px #999999;
            line-height: 1.1;
        } 
        & .top-desc {
            font-size: 1.25rem;
            margin-bottom: $m-ref*2.2;
            line-height: 1.1;
            color: #777777;
            font-weight: 100;
            text-shadow: 0 0 0.4px #999999;
        } 
        
        & .top-button {
            padding: $m-ref*1 $m-ref*1.35;
            background: linear-gradient(
                170deg, rgba(255,121,218,1) 0%, rgba(221,114,236,1) 20%, rgba(176,95,220,1) 80%, rgba(147,86,220,1) 100%);
            //linear-gradient(to bottom right,$colour-secondary, $colour-primary);
            //linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(206,105,219,1) 10%, rgba(176,95,220,1) 90%, rgba(147,86,220,1) 100%);
            // linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(206,105,219,1) 20%, rgba(176,95,220,1) 80%, rgba(147,86,220,1) 100%)
           // linear-gradient(165deg, rgba(255,121,218,1) 0%, rgba(206,105,219,1) 35%, rgba(176,95,220,1) 80%, rgba(147,86,220,1) 100%)
            border: 1px solid; //#b05fdc
            border-top: #dd72ec;
            border-left: #dd72ec;
            border-right: #b05fdc;
            border-bottom: #b05fdc;
            border-radius: 25px;
            font-size: 1.08rem;
            color: $colour-p-white;
            height: 42px;
            box-shadow: 1px 3px 8px 0 rgb(0 0 0 / 15%);
            cursor: pointer;
            &:hover {
                background: linear-gradient(170deg, #FF86E7 0%, #EA7FF9 20%, #BD6CE9 80%, #A063E9 100%);
                //#ff79da 0%, #dd72ec 20%, #b05fdc 80%, #9356dc 100%
                border: 1px solid; //#b05fdc
                border-top: #dd72ec;
                border-left: #dd72ec;
                border-right: #b05fdc;
                border-bottom: #b05fdc;
                box-shadow: 1px 3px 8px 0 rgb(0 0 0 / 25%);
            }
            & span {
                font-weight: 600;
                opacity: 0.85;
            }
        }      
    }
    &-filter {
        background-color:$colour-white;
        padding: $m-ref*2 0 $m-ref*3.8 0;
        & .section-title {
            padding: $m-ref;
            margin-bottom: $m-ref*0.8; 
            margin-top: 0.2rem; 
        } 
        & .list{
           // list-style-type:circle;
            display: flex;
            flex-direction: column;
            justify-content: center;
        } 
        & .filter-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: #f6f6f6;
            border: 1px solid #f6f6f6;
            border-radius: 18px;
            color: #524b4b;
            //opacity: 0.9;
            font-weight: 600;
            //font-size: 1.3rem;
            width: 87%;
            padding: $m-ref*1.65;
            margin: 0 $m-ref*1 $m-ref*1.65 $m-ref*2; 
            box-shadow: 1px 3px 8px 0 rgb(0 0 0 / 15%);
            &:hover {
                background-color: rgba(176,95,220, 0.15)/* rgb de colour-primary #9356DC*/;
                border: 1px solid rgba(147,86,220,2%);
                box-shadow: 1px 3px 8px 0 rgb(0 0 0 / 20%);
                & i {
                    color: $colour-primary;
                }
            } 
            & span {
                font-size: $m-ref*0.95;
                color: $colour-white;
                background-color: $colour-primary; /* #8649CF darken 5% #9356DC https://www.cssfontstack.com/oldsites/hexcolortool/*/
                border-radius: 50%;
                width: $m-ref*1.7;
                height: $m-ref*1.7;
                z-index: 3;
                margin-left: -32px;
                line-height: $m-ref*1.7;
                .darken {
                    background-image: linear-gradient(
                      0deg,
                      rgba(0,0,0,0.1) 0%,
                      rgba(0,0,0,0.1) 100%);
                }
            }
            & i {
                font-size: $m-ref*1.1;
                color: #797679; // #868585 585858
                padding: 0 $m-ref*2;
            }
            & .filter-icon-1 {
                font-size: $m-ref*1.45;
            }
            & .filter-icon-2 {
                font-size: $m-ref*1.25;
            }
            & p {
                font-weight: 600;
                color: $colour-black;
                opacity: 0.85;
            }
        } 
            
    }

    &-card {
        padding: $m-ref*3 0;
        background-color:$colour-bg;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        & .section-title {
            padding: $m-ref*1 $m-ref*0 $m-ref*1.5 $m-ref*1.5;
            align-self: flex-start;
        } 
        & .card{
            background-color:$colour-white;
            width: 90%;
            margin: $m-ref*0 $m-ref*1 $m-ref*1.32 $m-ref*1 ;
            border-radius: 12px;
            
            /*@include btn-filter;*/
        
            & a{
                text-decoration: none;
                position: relative;
                display: inline-block;
                height: 12rem;
                width: 100%;
            }  
            & img{
                width: 100%;
                height: 12.4rem;
                object-fit: cover; 
                border-radius: 12px 12px 0 0;
            }
            &-img-1{
                object-position: 50% 88%;
            }  
            &-img-2{
                object-position: 50% 63%;
            } 
            &-img-3{
                object-position: 0% 113%;
            } 
            &-img-4{
                object-position: 0% 104%;
            } 
        } 
            & .card-badge{
                position: absolute;
                z-index: 5; 
                color: darken($color: #99E2D0, $amount: 35%);
                background-color:#99E2D0;
                top: 7%;
                right: 3%;
                padding: $m-ref*0.45 $m-ref*0.7;
                font-size: $m-ref*0.95;
                font-weight: 600;
                border-radius: 2px;
            } 
        & .card-desc{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: space-between;
            text-align: start;
            height: 4.5rem;
            padding: 2.5rem 0.5rem 2.8rem 1rem;
            background-color:$colour-white;
            border-radius: 0 0 12px 12px;
            box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 15%);
        }
        & .card-desc-title{
            display: flex;
            flex-flow:  column wrap;
        }

        & .card-desc-icon {
            display: flex;
            align-items: center;
            position: relative;
            line-height: $m-ref*2.2;
            @include ic-heart;
            &-empty{
                position: absolute;
                font-size: 1.62rem;
                color: #706b69;
            }
            &-fill{
                position: absolute;
                font-size: 1.34rem;
                top: -13px;
            }
            &:hover{
                & .card-desc-icon-empty {
                    color: rgb(176,95,220);
                    transition: color 800ms ease-in-out;
                    transform-origin: center center;
                    }
                & .card-desc-icon-fill {
                    color: rgb(176,95,220);
                    transition: color 800ms ease-in-out;
                    transform-origin: center center;
                }
            }
        }

        & .card-name{
            font-weight: 900;
            font-size: 1.25rem;
        } 
        & .card-city{
            padding-top: 0.5rem;
            font-size: 1.2rem;
            opacity: 0.9;
            color: #696767;
            font-weight: 100;
            text-shadow: 0 0 0.3px #696767;
        } 
    }
}
