.home {
    width: 100%;
    padding: $m-ref;
    margin-bottom: $m-ref;
    &-city {
        background-color:#E5E5E5;
        text-align: center;
        padding: $m-ref*1;
        display: flex;
        justify-content: center;
    }
        &-neighb {
        font-size: 1.1rem;
        font-weight: 500;
        }
        &-ic-map {
            display: inline;
            font-size: 1.1rem;
            padding: 0 1rem;
        }
    &-top {
        text-align: center ;
        padding: 0 0 $m-ref*4 0 ;
        & .top-title {
            margin-bottom: $m-ref*0.5;
            padding: 2.5rem 3rem 0 3rem;
        } 
        & .top-desc {
            font-size: 1.3rem;
            margin-bottom: $m-ref*2;
            line-height: 1;
            color: #524b4b;
        } 
        & .top-button {
            padding: $m-ref*1.1 $m-ref*1.7;
            background: linear-gradient($colour-secondary, $colour-primary);
            border: 1px solid currentColor;
            border-radius: 25px;
            font-weight: 500;
            font-size: 1.1rem;

           /* @include btn;*/
        }      
    }
    &-filter {
        background-color:$colour-white;
        padding: $m-ref*2 0 $m-ref*3 0;
        & .section-title {
            padding: $m-ref;
            margin-bottom: $m-ref*1;  
        } 
        & .list{
            list-style-type:circle;
        } 
        & .filter-button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            background: $colour-bg;
            border: 1px solid #f0f0f0;
            border-radius: 22px;
            color: $colour-black;
            font-weight: bold;
            font-size: 1.3rem;
            width: 90%;
            padding: $m-ref*1.8;
            margin: 0 $m-ref*1.5 $m-ref*1.8 $m-ref*1.8; 
            box-shadow: 1px 3px 5px 0 rgb(0 0 0 / 20%);
            &:hover {
                background-color: rgba(147,86,220,0.2)/* rgb de colour-primary #9356DC*/;
                &i:hover {
                    color: $colour-primary;
                } 
            } 
            & span {
                font-size: $m-ref*1.1;
                color: $colour-white;
                background-color: $colour-primary;
                border-radius: 50%;
                width: $m-ref*1.8;
                height: $m-ref*1.8;
                z-index: 3;
                margin-left: -30px;
                line-height: $m-ref*1.8;
            }
            & i {
                font-size: $m-ref*1.1;
                color: $colour-black;
                padding: 0 $m-ref*2;
                &:hover {
                    color: $colour-primary;
                } 
            }
        } 
            
    }

    &-card {
        padding: $m-ref*3 0 $m-ref*5 0;
        & .section-title {
            padding: $m-ref;
            margin-bottom: $m-ref*1;
        } 
        & .card{
            background-color:$colour-white;
            width: 90%;
            margin: 1rem;
            border-radius: 12px;
            /*@include btn-filter;*/
        
            & a{
                text-decoration: none;
                position: relative;
                display: inline-block;
                height: 12rem;
                width: 100%;
            }  
            & img{
                width: 100%;
                height: 12rem;
                object-fit: cover; 
                object-position: 100% 90%;
            }  
        } 
            & .card-badge{
                position: absolute;
                z-index: 5; 
                color: #59ad98;
                background-color:#99E2D0;
                top: 5%;
                right: 5%;
            } 
        & .card-desc{
            text-align: start;
            height: 3.5rem;
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: space-between;
            & div{
                display: flex;
                flex-flow:  column wrap;
            }
            & i{
                padding-right:1rem;
                background-color: $colour-white;
                &:hover{
                    background-color: $colour-primary;
                }
                &:active{
                    background-color: $colour-primary;
                }
            }
        }  
        & .card-name{
            font-weight: 900;
            font-size: 1.2rem;
        } 
        & .card-city{
            font-size: 1.2rem;
            line-height: 1;
            color: #524b4b;
        } 
        & .ic-heart-card{
            font-size: 1.5rem;
            cursor: pointer;
        } 
    }
   
}
